body{
    background: black;
}
.post{
    width: 500px;
    height: 510px;
    background: white;
    margin: 0 auto;
}
.fa-html5:before {
    content: "\f13b";
    font-size: 30px;
    margin-left: 10px;
    float: left;
}
.text{
    margin-left: 4px;
    font-size: 15px;
}
.icon {
    display: inline-block;
    width:7%;
}
.text {
    display: inline-block;
    width:15%;
}
.fa-ellipsis-v:before {
    content: "\f142";
    font-size: 30px;
    margin-left: 360px;
}
img{
    width: 500px;
    height: 290px;
}
.fa-heart-o:before {
    content: "\f08a";
    font-size: 25px;
    margin-left: 10px;
}
.fa-comment-o:before {
    content: "\f0e5";
    font-size: 25px;
}
.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d9";
    font-size: 25px;
}
.fa-bookmark-o:before {
    content: "\f097";
    font-size: 25px;
    margin-left: 370px;
}
p{
    margin-left: 10px;
}
.post-header{
    margin-bottom: 20px;
}